<div class="container">
	<br />
	<form (ngSubmit)='loginUser()' [formGroup]='loginForm' novalidate class="form">
		<input formControlName='email' type="text" class="form-control" placeholder="Enter Email" />
		<div class="alert  alert-danger" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
			Email is required
		</div>
		<input formControlName='password' type="password" class="form-control" placeholder="Enter Password" />
		<div class="alert  alert-danger" *ngIf=" !loginForm.get('password').valid && loginForm.get('email').touched">
			Password is required and should less than 10 characters
		</div>
		<button [disabled]='loginForm.invalid' class="btn btn-default">Login</button>
	</form>
</div>
